
.idea/compiler.xml

.idea/.name

.idea/encodings.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

Gemini.iml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/ant.xml

*.class

.idea/artifacts/Gemini_war_exploded.xml

samples/webapps/WEB-INF/lib/*.jar

samples/webapps/WEB-INF/classes/*.xml
